.card {
  position: relative;
}
.card img {
  width: 100%;
  display: block;
  border: 2px solid #fff;
  border-radius: 6px;
}

/* So if you take a flat image and rotate it 90 degrees on it's Y axis it
basically hides it, this is what is happening here as its the desired effect*/

.card .front {
  transform: rotateY(90deg);
  position: absolute;
}
/* the card is still sitting in the same place due to absolute postion but I
rotate it to 0 degrees revealing it when flipped is true */

.flipped .front {
  transform: rotateY(0deg);
}